body{
    background-image: url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    place-content: center;
    margin: 100px;
    padding: 0px;
    display: grid;
    background-color: rgb(230, 235, 248);
    
}


main{
    width: 350px;
    background-color: white;
    border-radius: 10px;
    height: 500px;
}

.image{
    border-top-left-radius:  10px;
    border-top-right-radius:  10px;
    width: 350px
}

.order{
    font-size: 20px;
    text-align: center;
}

.text{
    text-align: center;
    font-size: 15px;
    
}

.icon{
    margin-left: -18px;
    margin-bottom: -20px
    
}
.pay{
    margin-left: 35px;
    font-size: 15px;
    margin-top: -15px;
}
.dolar{
    font-size: 10px;
    margin-left: 35px;
    margin-top: -10px;
    color: rgb(143, 206, 248)
    
    
}
.change{
    margin-left: 65px;
}
.border{
    background-color: rgb(245, 243, 247);
    width: 250px;
    margin-left: 30px;
    border-radius: 10px;
    height: 50px;
    padding-top: 10px;
    padding-left: 35px;
}

.button{
    margin-left: 30px;
    width: 290px;
    height: 40px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-weight: bold;
    margin-top:20px;
    
}

.order1{
    text-align: center;
    font-size: small;
    margin-top: 15px;
    
}